body{
	background-color: #1e1e1eff;
	background-image: url("nasa-lEBDlbXLEgs-unsplash.jpg");
	background-position: center;
	font-family: Roboto, Arial, sans-serif;
	font-size: 16px;
	font-weight: normal;
	/* Same as above */
	font: normal 16px 'IBM Plex Sans', Arial, sans-serif;

	line-height: 1.6em;
	margin: 5px;
}

.namebox{
	text-align: center;
	font: normal 30px 'IBM Plex Sans', Arial, sans-serif;
	color: #000;
	border: 5px;
	padding: 5px;
	width: 40%;
	margin: 0;
	position: absolute;
	top: 50%;
	left: 50%;
	-ms-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
/*	background-color: #000;
	color: #fff;*/
}

.navbar ul{
	padding:0;
	margin:0;
	list-style-type:none;
    text-align:center;
}

.navbar li{
	display: inline-block;
}

.navbar a{
	text-decoration: none;
	transition: color 0.2s ease;
	padding: 20px 80px;
	text-align: center;
	font-size: 18px;
	font-weight: bold;
	color: #000;
}

.navbar a:hover{
	color: #0062ff;
}